!!! 5
%html{:lang => "en"}
  %head
    %title Orange - #{part[:page_title]}
    %meta{:charset => "utf-8"}
    -# CSS
    - %w(fonts main).each{|css| add_css("#{css}.css") }
    = part[:css]
    = part[:js]
    /[if lt IE 9]
      %script{:src => "http://html5shiv.googlecode.com/svn/trunk/html5.js"}
  %body#home
    .container
      %o:slice{:mode => "header"}
      .body
        %section.content= yield
        %o:slice{:mode => "footer"}